body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/PngItem_5131277.png");
  background-size: contain;
  height: 100%;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
